In [4]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
os.getcwd()

'C:\\Users\\Kaushal M Acharya'

In [6]:
os.chdir("D:\Python_JupyterNB")

In [7]:
os.getcwd()

'D:\\Python_JupyterNB'

In [8]:
df = pd.read_csv("Loan-Data.csv")

In [9]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [10]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [11]:
df.shape

(614, 13)

In [12]:
#Data Preprocessing and Null value imputation

In [13]:
df['Gender'] = df['Gender'].map({'Male':1,'Female':0})
df['Married'] = df['Married'].map({'Yes':1,'No':0})
df['Education'] = df['Education'].map({'Graduate':1,'Not Graduate':0})
df['Dependents'].replace('3+',3,inplace=True)
df['Self_Employed'] = df['Self_Employed'].map({'Yes':1,'No':0})
df['Property_Area'] = df['Property_Area'].map({'Semiurban':1,'Urban':2,'Rural':3})
df['Loan_Status'] = df['Loan_Status'].map({'Y':1,'N':0})

In [14]:
#Null Value imputation

In [15]:
Null=['Gender','Married','Dependents','Self_Employed','Credit_History','LoanAmount','Loan_Amount_Term']

In [16]:
df[Null]=df[Null].replace({np.nan:df['Gender'].mode(),
                                   np.nan:df['Married'].mode(),
                                   np.nan:df['Dependents'].mode(),
                                   np.nan:df['Self_Employed'].mode(),
                                   np.nan:df['Credit_History'].mode(),
                                   np.nan:df['LoanAmount'].mean(),
                                   np.nan:df['Loan_Amount_Term'].mean()})

In [17]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1.0,0.0,0.0,1,0.0,5849,0.0,342.0,360.0,1.0,2,1
1,LP001003,1.0,1.0,1.0,1,0.0,4583,1508.0,128.0,360.0,1.0,3,0
2,LP001005,1.0,1.0,0.0,1,1.0,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1.0,1.0,0.0,0,0.0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1.0,0.0,0.0,1,0.0,6000,0.0,141.0,360.0,1.0,2,1

In [18]:
#Train and Test Data sets

In [19]:
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split

In [20]:
X=df.drop(columns=['Loan_ID','Loan_Status']).values

In [21]:
Y=df['Loan_Status'].values

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

In [23]:
print('Shape of X_train=>',X_train.shape)

Shape of X_train=> (491, 11)

In [24]:
print('Shape of X_test=>',X_test.shape)

Shape of X_test=> (123, 11)

In [25]:
print('Shape of Y_train=>',Y_train.shape)

Shape of Y_train=> (491,)

In [26]:
print('Shape of Y_test=>',Y_test.shape)

Shape of Y_test=> (123,)

In [27]:
#Logistic Regression Model

In [28]:
from sklearn.linear_model import LogisticRegression

In [29]:
lr = LogisticRegression(max_iter=1000,random_state=42)

In [30]:
lr.fit(X_train, Y_train)

LogisticRegression(max_iter=1000, random_state=42)

In [31]:
#Training Dataset Evaluation

In [32]:
lr_pred_train = lr.predict(X_train)

In [33]:
print('Training Dataset Evaluation F1-Score-',f1_score(Y_train,lr_pred_train))

Training Dataset Evaluation F1-Score- 0.8235294117647058

In [34]:
#Testing Dataset Evaluation

In [35]:
lr_pred_test = lr.predict(X_test)

In [36]:
print('Testing Dataset Evaluation F1-score-',f1_score(Y_test,lr_pred_test))

Testing Dataset Evaluation F1-score- 0.7738693467336684

In [37]:
#Decision Tree Model

In [38]:
from sklearn.tree import DecisionTreeClassifier

In [39]:
dt = DecisionTreeClassifier(criterion = 'entropy', random_state = 42)

In [40]:
dt.fit(X_train, Y_train)

DecisionTreeClassifier(criterion='entropy', random_state=42)

In [41]:
dt_pred_train = dt.predict(X_train)

In [42]:
#Training dataset Evaluation

In [43]:
dt_pred_train = dt.predict(X_train)

In [44]:
print('Training dataset Evaluation F1-Score-',f1_score(Y_train,dt_pred_train))

Training dataset Evaluation F1-Score- 1.0

In [45]:
#Testing dataset Evaluation

In [46]:
dt_pred_test = dt.predict(X_test)

In [47]:
print('Testing dataset Evaluation F1-Score-',f1_score(Y_test,dt_pred_test))

Testing dataset Evaluation F1-Score- 0.7953216374269005

In [49]:
#Random Forest Model

In [50]:
from sklearn.ensemble import RandomForestClassifier

In [51]:
rf = RandomForestClassifier(criterion = 'entropy', random_state = 42)

In [52]:
rf.fit(X_train, Y_train)

RandomForestClassifier(criterion='entropy', random_state=42)

In [53]:
#Training dataset Evaluation

In [54]:
rf_pred_train = rf.predict(X_train)

In [55]:
print('Training datset Evaluation F1-Score-',f1_score(Y_train,rf_pred_train))

Training datset Evaluation F1-Score- 1.0

In [56]:
#Testing dataset Evaluation

In [57]:
rf_pred_test = rf.predict(X_test)

In [58]:
print('Testing dataset Evaluation F1-Score-',f1_score(Y_test,rf_pred_test))

Testing dataset Evaluation F1-Score- 0.8461538461538461